@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Welcome to 1208 Gadgets</h1>
    <p class="lead">The home of quality gadgets</p>
</div>

